{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Twój koszyk</span>
            <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            {% for s in services %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">{{ s.service.name }}</h6>
                    <small class="text-muted">Dodatkowa usługa</small>
                </div>
                <span class="text-muted">{{ s.service.price }} PLN</span>
            </li>
            {% endfor %}
            
            <li class="list-group-item d-flex justify-content-between">
                <span>Cena całkowita (PLN)</span>
                <strong>{{ total }} PLN</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-8">
        <form action="{% url 'core:checkout_pay' %}">
            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
                {% for payment in payments %}
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input">
                    <label class="form-check-label" for="credit">{{ payment.name }}</label>
                </div>
                {% endfor %}
            </div>

            <div class="row gy-3">
                <div class="col-md-6">
                    <label for="cc-name" class="form-label">Name on card</label>
                    <input required required type="text" class="form-control" id="cc-name" placeholder="" required="">
                    <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                        Name on card is required
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cc-number" class="form-label">Credit card number</label>
                    <input required type="text" class="form-control" id="cc-number" placeholder="" required="">
                    <div class="invalid-feedback">
                        Credit card number is required
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-expiration" class="form-label">Expiration</label>
                    <input required type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                    <div class="invalid-feedback">
                        Expiration date required
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input required type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                    <div class="invalid-feedback">
                        Security code required
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Kontynuuj</button>
        </form>
    </div>
</div>

{% endblock content %}